In [1]:
import pandas as pd
import matplotlib as plt
from pprint import pprint

In [2]:
df = pd.read_excel('information.xls')

In [3]:
print(df.columns)

Index(['INSTITUTE NAME', 'EIIN', 'INSTITUTE_TYPE', 'DIVISION_ID', 'DIVISION',
       'DISTRICT_ID', 'DISTRICT', 'THANA_ID', 'THANA', 'UNION_ID',
       'UNION_NAME', 'MAUZA_ID', 'MAUZA_NAME', 'AREA_STATUS',
       'GEOGRPYCAL_STATUS', 'ADDRESS', 'POST', 'MANAGEMENT_TYPE', 'MOBILE',
       'STUDENT_TYPE', 'EDUCATION_LEVEL', 'AFFILIATION', 'MPO_STATUS'],
      dtype='object')

In [11]:
# educational institutes by division
print(df[['DIVISION', 'DIVISION_ID']].value_counts()['DHAKA'])

DIVISION    DIVISION_ID
DHAKA       30             6072
RAJSHAHI    50             5625
CHITTAGONG  20             5509
RANGPUR     55             5370
KHULNA      40             4769
BARISAL     10             3256
MYMENSINGH  45             2656
SYLHET      60             1644
dtype: int64

In [12]:
# educational institutes by type
print(df['INSTITUTE_TYPE'].value_counts())

School                      19233
Madrasha                     9314
College                      3190
Technical and Vocational     1940
School and College           1224
Name: INSTITUTE_TYPE, dtype: int64

In [13]:
# educational institutes by management
print(df['MANAGEMENT_TYPE'].value_counts())

NON-GOVERNMENT                   32369
GOVERNMENT                         858
GOVERNMENT PRIMARY                 602
OTHERS                             480
LOCAL GOVERNMENT                   285
AUTONOMOUS                         257
Run by Christian Missionaries       50
Name: MANAGEMENT_TYPE, dtype: int64

In [14]:
# educational institutes by type of area
print(df['AREA_STATUS'].value_counts())

 RURAL                               26185
UPZILA SADAR MUNICIPALITY             2825
METROPOLITAN                          1898
DISTRICT SADAR MUNICIPALITY           1690
UPZILA SADAR BUT NOT MUNICIPALITY     1521
OTHER MUNICIPALITY AREA                584
CityCorp                               198
Name: AREA_STATUS, dtype: int64

### Preparing data for a Stacked Bar Chart

In [44]:
divisions = list(df['DIVISION'].value_counts().index)
inst_types = list(df['INSTITUTE_TYPE'].value_counts().index)

In [58]:
print(divisions)
print(inst_types)

['DHAKA', 'RAJSHAHI', 'CHITTAGONG', 'RANGPUR', 'KHULNA', 'BARISAL', 'MYMENSINGH', 'SYLHET']
['School', 'Madrasha', 'College', 'Technical and Vocational', 'School and College']

In [59]:
data = []

In [60]:
for division in divisions:
  dic = {}
  dic["division"] = division
  for inst_type in inst_types:
    dic[inst_type] = len(df[(df['DIVISION'] == division) & (df['INSTITUTE_TYPE'] == inst_type)])
  data.append(dic)
print(data)

[{'division': 'DHAKA', 'School': 3564, 'Madrasha': 1225, 'College': 656, 'Technical and Vocational': 316, 'School and College': 311}, {'division': 'RAJSHAHI', 'School': 2830, 'Madrasha': 1526, 'College': 561, 'Technical and Vocational': 527, 'School and College': 181}, {'division': 'CHITTAGONG', 'School': 3072, 'Madrasha': 1655, 'College': 452, 'Technical and Vocational': 160, 'School and College': 170}, {'division': 'RANGPUR', 'School': 2974, 'Madrasha': 1403, 'College': 434, 'Technical and Vocational': 347, 'School and College': 212}, {'division': 'KHULNA', 'School': 2749, 'Madrasha': 1181, 'College': 457, 'Technical and Vocational': 262, 'School and College': 120}, {'division': 'BARISAL', 'School': 1625, 'Madrasha': 1170, 'College': 258, 'Technical and Vocational': 121, 'School and College': 82}, {'division': 'MYMENSINGH', 'School': 1467, 'Madrasha': 754, 'College': 215, 'Technical and Vocational': 170, 'School and College': 50}, {'division': 'SYLHET', 'School': 952, 'Madrasha': 400, 'College': 157, 'Technical and Vocational': 37, 'School and College': 98}]